html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/** quill editor style */
.quill-container {
  margin: 0 auto;
  padding: 2rem;
  width: 865px;
}

.ql-editor {
  min-height: 80vh;
  font-size: 1.3rem;
}

/** draft-js editor style */
.editor_wrapper {
  margin: 0 auto;
  padding: 2rem;
  width: 865px;
  border: solid gray 1px;
}

.public-DraftEditor-content {
  min-height: 80vh;
  font-size: 1.3rem;
}
